version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: flowdesk-postgres
    environment:
      POSTGRES_USER: flowdesk
      POSTGRES_PASSWORD: flowdesk
      POSTGRES_DB: flowdesk
    ports:
      - '5433:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U flowdesk -d flowdesk']
      interval: 5s
      timeout: 5s
      retries: 20

  redis:
    image: redis:7
    container_name: flowdesk-redis
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 20

  redpanda:
    image: redpandadata/redpanda:v24.1.9
    container_name: flowdesk-redpanda
    hostname: redpanda
    ports:
      - '9092:9092'
      - '9644:9644'
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - '1'
      - --memory
      - '1G'
      - --reserve-memory
      - '0M'
      - --node-id
      - '0'
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:29092,PLAINTEXT_HOST://localhost:9092
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'rpk cluster info --api-urls 127.0.0.1:9644 >/dev/null 2>&1 || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 20s

  opa:
    image: openpolicyagent/opa:0.68.0
    container_name: flowdesk-opa
    command:
      - run
      - --server
      - --addr
      - 0.0.0.0:8181
      - --set=decision_logs.console=true
      - /policies
    ports:
      - '8181:8181'
    volumes:
      - ./policies:/policies:ro
    healthcheck:
      test:
        [
          'CMD-SHELL',
          "wget -qO- http://localhost:8181/health?plugins | grep -q 'ok'",
        ]
      interval: 10s
      timeout: 5s
      retries: 30

  mailpit:
    image: axllent/mailpit:latest
    container_name: flowdesk-mailpit
    ports:
      - "8025:8025" # UI
      - "1025:1025" # SMTP
  prometheus:
    image: prom/prometheus:v2.53.1
    container_name: flowdesk-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
   
  grafana:
    image: grafana/grafana:11.1.4
    container_name: flowdesk-grafana
    ports:
      - "3005:3000"
    depends_on:
      - prometheus

volumes:
  pgdata:
